<footer id="footer">
    <ul class="clearfix">
        <li class="first-link col-sm-2 col-lg-2 col-md-3 col-xs-6">
            <dl>
                <dt class="font-Roman"><strong>Airways</strong></dt>
                <dd><a href="">About Us</a></dd>
                <dd><a href="">Contact Us</a></dd>
                <dd><a href="">Careers</a></dd>
            </dl>
        </li>
        <li class="second-link col-sm-2 col-lg-2 col-md-3 col-xs-6">
            <dl>
                <dt class="font-Roman"><strong>About the Site</strong></dt>
                <dd><a href="">FAQs</a></dd>
                <dd><a href="">Terms &amp; Conditions</a></dd>
                <dd><a href="">Privacy</a></dd>
            </dl>
        </li>
        <li class="fourth-link col-sm-2 col-lg-2 col-md-3 col-xs-6">
            <dl>
                <dt class="font-Roman"><strong>More Links</strong></dt>
                <dd><a href="">IndiGo</a></dd>
                <dd><a href="">Air India</a></dd>
                <dd><a href="">Vistara</a></dd>
            </dl>
        </li>
        <li class="link followUs col-sm-2 col-lg-2 col-md-3 col-xs-6">
            <dl>
                <dt class="font-Roman"><strong>Follow Us</strong></dt>
                <dd class="clearfix">
                    <a href="" class="fb-icon fwIcon"></a>
                    <a href="" class="tw-icon fwIcon"></a>
                    <a href="" class="ins-icon fwIcon"></a>
                    <a href="" class="tb-icon fwIcon"></a>
                    <a href="" class="gl-icon fwIcon"></a>
                </dd>
            </dl>
        </li>
        <li class="link linkDownload col-sm-2 col-lg-2 col-md-3 col-xs-6">
            <dl>
                <dt class="font-Roman"><strong>Mobile</strong></dt>
                <dd><a href="">Download our mobile App</a></dd>
                <dd>
                    <a href="" target="_blank" class="downLink">
                        <img src="./images/google-play.png" alt="">
                    </a>
                </dd>
                <dd>
                    <a href="" target="_blank">
                        <img src="./images/app-play.png" alt="">
                    </a>
                </dd>
            </dl>
        </li>
    </ul>
    <br>
    <div>
        <p class=" foot_p" style="text-align: center;margin: 20px 0px 0px;">Copyright © 2023-2024 Airways Group. All
            rights reserved</p>
        <p class=" foot_p" style="text-align: center;margin: 10px 0px 0px;">All brands, logos are trademarks or
            registered trademarks of their respective owners.</p>
    </div>
</footer>