<div class="image">
    <h2 class="text-info text-center">Add Flights:</h2>
    <h2 class="text-center text-danger" *ngIf="existed">{{msg}}</h2>
    <div class="container">
        <div class="row row-cols-sm-2 row-cols-md-3 g-4">
            <div class="card mx-auto mt-5 mb-5 w-50" style="width: 50rem; ">
                <form class="w-50 mx-auto mt-5" [formGroup]="flightForm" #ref="ngForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label" for="title">Id:</label>
                        <input class="form-control" type="text" id="id" formControlName="id"
                            placeholder="Enter the flight id">
                        <div *ngIf="id?.invalid&&(id?.dirty||id?.touched||ref.submitted)" class="text-danger">
                            <p *ngIf="id?.errors?.['required']">Id is required</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="category">Category:</label>
                        <select id="category" type="text" formControlName="category">
                            <option *ngFor="let category of categories" class="form-control" [value]="category">
                                {{category}}
                            </option>
                        </select><br>
                        <div *ngIf="flightForm.get('category').hasError('required')"></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="type">Type:</label>
                        <select id="type" type="text" formControlName="type">
                            <option *ngFor="let type of types" class="form-control" [value]="type">{{type}}
                            </option>
                        </select><br>
                        <div *ngIf="flightForm.get('type').hasError('required')"></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="from">from:</label>
                        <input class="form-control" id="from" type="text" formControlName="from"
                            placeholder="Enter the from location" cols="30">
                        <div *ngIf="from?.invalid&&(from?.dirty||from?.touched||ref.submitted)" class="text-danger">
                            <p *ngIf="from?.errors?.['required']">From locaton is required</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="to">to:</label>
                        <input class="form-control" id="to" type="text" formControlName="to"
                            placeholder="Enter to location" cols="30">
                        <div *ngIf="to?.invalid&&(to?.dirty||to?.touched||ref.submitted)" class="text-danger">
                            <p *ngIf="to?.errors?.['required']">to location is required</p>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="departureTime">departureTime:</label>
                        <input class="form-control" id="departureTime" type="time" formControlName="departureTime"
                            placeholder="Enter Departurtime" cols="30">
                        <div *ngIf="departureTime?.invalid&&(departureTime?.dirty||departureTime?.touched||ref.submitted)"
                            class="text-danger">
                            <p *ngIf="departureTime?.errors?.['required']">departureTime is required</p>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="arrivalTime">arrivalTime:</label>
                        <input class="form-control" id="arrivalTime" type="time" formControlName="arrivalTime"
                            placeholder="Enter Departurtime" cols="30">
                        <div *ngIf="arrivalTime?.invalid&&(arrivalTime?.dirty||arrivalTime?.touched||ref.submitted)"
                            class="text-danger">
                            <p *ngIf="arrivalTime?.errors?.['required']">arrivalTime is required</p>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="departureDate">departureDate:</label>
                        <input class="form-control" id="departureDate" type="date" formControlName="departureDate"
                            placeholder="Enter departureDate" cols="30">
                        <div *ngIf="departureDate?.invalid&&(departureDate?.dirty||departureDate?.touched||ref.submitted)"
                            class="text-danger">
                            <p *ngIf="departureDate?.errors?.['required']">departureDate is required</p>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="arrivalDate">arrivalDate:</label>
                        <input class="form-control" id="arrivalDate" type="date" formControlName="arrivalDate"
                            placeholder="Enter arrivalDate" cols="30">
                        <div *ngIf="arrivalDate?.invalid&&(arrivalDate?.dirty||arrivalDate?.touched||ref.submitted)"
                            class="text-danger">
                            <p *ngIf="arrivalDate?.errors?.['required']">arrivalDate is required</p>
                        </div>
                    </div>

                    <div class="mx-2">
                        <label for="cost" class="form-label">Enter Flight Cost:</label>
                        <input type="number" formControlName="cost" id="cost" class="form-control">
                        <div *ngIf="cost.invalid && (cost.dirty || cost.touched || ref.submitted )" class="text-danger">
                            <p *ngIf="cost?.errors?.['required']">Cost is required</p>
                        </div>
                    </div>
                    <br>

                    <div class="buttons">
                        <button type="submit">Submit</button>
                        <button type="reset">Reset</button>
                        <button (click)="navigateBack()">Go Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>