<p class="display-1 text-center text-dark">Book your Flight</p>
<div class="card bg-info mx-auto mt-5 mb-5 w-50" style="width: 50rem; ">
    <form class="w-50 mx-auto mt-5" (ngSubmit)="bookFlights()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" formControlName="name" id="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="dob" class="form-label">DOB</label>
            <input type="date" formControlName="dob" id="dob " class="form-control">
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">mobile Number</label>
            <input type="tel" formControlName="mobile" id="mobile" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email ID</label>
            <input type="email" formControlName="email" id="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Class</label>
            <select>
                <option>Economy</option>
                <option>Business</option>
            </select>
        </div>
            <button type="submit" class="btn btn-success d-block mx-4 m-3" (click)="changeStatus()">Submit</button>
    </form>
</div>
